.wrapper {
	margin: 40px;
}
a {
	text-decoration: none;
	color: inherit;}

.menu li{
	float: left;
	background: #eee;
	padding: 10px 15px;
	position: relative;
	width: 85px;
	text-align: center;
}
.menuToggle {
	padding: 10px 55px 10px 15px;
	display: none;
	cursor: pointer;
	background: #eee;
	
}
#menuCheck {display: none;}

.menu li ul {display: none;}

.menu li:hover > ul{
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}
.menu li:hover {
	background:#a89a9a;
	}

@media screen and (max-width: 560px) {
	.menu{
		display: none;
		position: absolute;
		background: #eee;
	}
	.menuToggle {
		display: block;
		border: 1px solid black;
		width: 45px;
	}
	
	.menu li {
		float: none;
		border-bottom: 1px solid black;
		text-align: left;
		}
		
	#menuCheck:checked + .menu{
		display: block;
	}
	
	ul {
		border: 1px solid black;}
	
	.menu li {
		border-bottom: 1px solid black;
	}
	
	ul:last-child {
		border-bottom: none;
		}
	
	.menu li:hover {
		background:#a89a9a;
		position: relative;}
	
	
	.menu li:hover > ul {
		display: block;
		position: absolute;
		left: 100%;
		top: -1px;}
}
/* ul{
  margin: 0;
  padding: 0;
}
ul.nav li ul{
  display: none;
}
ul.nav li{
  list-style: none;
}
ul.nav li:hover > ul{
  display: block;
}
ul.nav li {
  background: #B3B3FF;
  border: 1px solid #FFFFFF;
  list-style: none;
  width: 150px;
}
ul.nav li a {
  text-decoration: none;
  display: block;
  padding: 5px 5px 5px 15px;
}
ul.nav li ul {
 display: none;	/*скрываем вложенные пункты*/
}
 
    /*Выпадающее меню*/
 
/* ul.nav li:hover {
  position: relative;
  background: yellow;
}
ul.nav li:hover > ul {
  display: block;
}
ul.nav li:hover ul{
  position: absolute;
  top: 0;
  left: 150px; /*меню раскрывается вправо*/
/* } */ 